[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
transformers = "*"
torch = "*"
torchvision = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
